.motion-graphic{
    height: 855px ;
    background: #ffffff;

    .motion{
        width: 1440px ;
        margin: 0 auto;
        padding: 0;

        p{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            color: #494949;
            margin: 220px 0 0 0;
            padding: 0;
            text-align: center;
        }

        .line{
            width: 160px;
            border: 6px solid #FFA15E;
            border-radius: 50px;
            margin: 10px auto 24px auto; 
        }

        h3{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            color: #494949;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .youtube{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;
            padding: 70px 100px 0 100px;

            .box{
                width: 379px;
                height: 212px;
                background-color: #494949;

                img{
                    padding: 81px 0px 0 155px;
                }
            }
        }
    }
}